$hover-color: #00CED8;
$active-color: #00CED8;

$button-color: #006484;
$hover-button-color: #008BB7;

$salt-color: #11C5CD;
$academy-color: #FFF685;
$podcast-color: #0C2E84;
$capability-color: #FFC9A3;

$tags-color:  #00B2EA;
$hover-tags-color: #008bea;
